html{
    font-family: "Manrope", sans-serif;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-size: 16px;
}

body{
    margin: 0;
 
}

button {
    background-color: #F84646;
    color: #FFF;
    font-weight: 500;
    font-size: 1.5rem;
    padding: .5rem 1.5rem;
    border-radius: .5rem;
    border: none;
    cursor: pointer;
}

h1{
    font-size: 4rem;
    font-weight: 800;
    margin: 0;
}

h2{
    font-size: 3rem;
    font-weight: 800px;
    margin: 0;
}

#presentation-container{
    padding:  2.5rem 7.5rem;
    height: 100vh;
    background-image: url(./assets/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#presentation{
    width: 37.5rem;
   
}
#quality{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}
#quality > img{
    margin: 0 2.5rem;
}

.container{
    padding: 5rem 7.5rem;
    text-align: center;
}
.container > p{
    margin-top: 1.5rem;
}
.container > button{
    margin-top: 2rem;
    transition: opacity 0.5s ease-in-out, transform 0.5s .2s;
}
.container > button:hover{
    opacity: 0.8;
    transform: scale(1.1);
}

.contact-title{
    margin-top: .5rem;
}

.background-gradient{
    background: linear-gradient(180deg, #FFF, #d9d9d9);
}

.background-red{
    background-color: #F84646;
    color: #FFF;

}

.article-container{
    display: flex;
    flex-direction: row;
    
}

.article-container:nth-child(even){
    flex-direction: row-reverse;
    margin-top: 5rem;
}

.artico-details{
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
    margin: 0 2.5rem 0 0;
    justify-content: space-between;
}
.artico-details > button{
    font-size: 1rem;
}


.article-container:nth-child(even) > .artico-details{
   margin: 0 0 0 2.5rem;
}
