html{
   
    font-family: "Montserrat", sans-serif; 
     box-sizing: border-box;
     font-size: 1rem;
 
 }
 
 body{
    
   margin: 0;
   width: 98%;
 }
 
 #cabecalho{
     background-color: #02A28F;
     color: white;
     padding-left: 5rem; 
     height: 2.8rem;
     width: 98%;
 }
 #cabecalho > h1{
     padding: .62rem;
     font-weight: 600;
     font-size: 1.5rem;
     margin: 0;
  }
 
   
 .container{
 
    display: flex; /* Flexbox para posicionar os itens lado a lado */
    justify-content: space-between; 
    width: 98%;
        
 }
 /* ----------------- foto inicial superior a esquerda --------------> */
 .esquerdaBanner-texto{
    background-image: url(./assets/imagem1.jpg); 
     width: 56.25rem;
     height: 34.37rem;
     margin-top: 2.18rem;
     margin-left: 4.37rem;
     border-radius: 0.62rem;
     
  }
 
  #textos{
    margin-top: 28.12rem;
    margin-left: 1.87rem;
    color: white; 
   }
   #textos >p{
      margin: 0;
    
   }
   #textos > h2{
      margin: 0.18rem 0 0.31rem;
   }
 
   /* ---------------------- inicial superior a direita ------------ */ 
   #direitoPost-popular > p{ 
    background-color: #02A28F;
    margin-top: 2.18rem;
    margin-left: 0.93rem;
    color: white;
    font-size: 1.18rem;
    width: 80%;
    border-radius: 0.31rem;
     
 }
 #direitoPost-popular {
   
   width: 35%; /* Ajuste conforme necessário */
   height: 37.5rem;
 
 } 
 
 .baseTexto{
  
    background: #02A28F;
    border-radius: 0.37rem;
    height: 1.87rem;
    width: 90%;
    margin-left: 0.93rem;
    margin-bottom: 4.68rem;
    color: white;
   
 }
 .textoPost{   
 margin-left: 1.87rem;
 margin-top: 2.18rem;
 color: white;
 padding-top: 0.31rem;
 
 }
 
 
 .post-container {
    display: flex;
    align-items: center; /* Alinha verticalmente no centro */
    gap: 10px; /* Espaço entre a imagem e o texto */
    margin-bottom: 5rem;
    margin-left: 0.93rem;
 }
 
 
 #primeiraImg img {
      
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 0.31rem;
 }
 .imagem{
    width: 8.75rem;
    height: 3.12rem;
 }
 
 .post-content {
    display: flex;
    flex-direction: column;
 }
 
 .postData{
    font-size: 0.75;
    margin: 0.31rem;
   }
   
 h4{
    margin: 0;
    font-size: 0.87rem;
 }
 
 .post-mais-detalhes{
    display: flex;
    flex-direction: row;
 }
 
 
 .quantidade {
    background-color: #e0e0e0;
    border-radius: 0.75rem;
   /* padding: 2px 10px; */
    color: #333;
    font-size: 0.9em;
    margin-right: 0.06rem;
 }
 
  
 .cabeca{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1.87rem;
    width: 59.37rem;
 }
 
 .cabeca-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
    align-items: center;
    margin-left: 1.87rem;
    width: 51.25rem;
 }
 /*------------------------------------------------*/
 .titulo{
    background-color:turquoise;
    width: 50rem;
    height: 3.12rem;
    border-radius: 0.31re;
    margin-left: 2.5rem;
 }
 .contact-title{
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1.25rem;
    color: white;
    
 }
 
 .contact-title > p{
    display: flex;
    text-align:  center;
    margin-right: 1.87rem;
 }
 /*----------------------------------------------------*/
 
 .titulo-categoria{
    display: flex;
    align-items: center; 
    background-color:turquoise;
    width: 22.06rem;
    height: 2.81rem;
    border-radius: 0.31rem;
    margin-left: 0.93rem;
 
 }
  .contact-title-categoria > h2{
    
    margin-left: 1.25rem;
    color: white;
 }
 
 .grid-div-area{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3,1fr);
    margin: 0;
    margin-left: 2.81rem;
    width: 90%;
    height: 65.62rem;
  
 }
 
 .grid-texto > p, h4{
    margin: 0.25rem;
    margin-bottom: 0.62rem;
    text-align: left;
 }
 .grid-imagem{
 
    margin-top: 0.62rem;
    margin-left: 1.25rem;
    text-align: left;
    width: 25rem;
    height: 31.25rem;
    box-shadow: 0.12rem 0.31rem 0.31rem rgba(0, 0, 0, 0.1);
    margin-bottom: 0.93rem;
 }
 .grid-imagem-lista{
    margin-top: 10px0.62rem;
    margin-left: 0.31rem;
    text-align: left;
    width: 21.25rem;
    height: 12.5rem;
 
 }
 #grid-texto-pequeno{
  color: turquoise;
  font-size: 0.87rem;
 }  
 
 .imagem-area{
    text-align: left;
    border-radius: 0.5rem;
    width: 24.06rem;
    height: 14.37rem;
     
 } 
 
 h2{
    margin: 0;
 }
 
  .fig1{
    grid-area: 1 / 1;
  
   
  }
  .fig2{
    grid-area: 1/ 2;
  }
  .fig3{
    grid-area: 1 / 3;
    /*  margin-left: 50px; */
  }
  
  .fig4{
    grid-area: 2 / 1;
  }
 
  .fig5{
    grid-area: 2 / 2;
  }
 
 
 
 
 .categorias-lista {
    list-style-type: none;
    padding: 0;
    
 }
 
 .categoria-item {
    display: flex;
    justify-content: space-between;
    padding: 0.62rem 0 0.31rem 0;
    border-bottom: 0.06rem solid #ccc;
 }
 
   
 .nome-categoria {
    font-weight: bold;
    color: #555;
    font-size: 0.62rem;
    
 }
 
 
 #footer-pg{
    display: flex;
    justify-content: center;
    background-color: #02A28F;
    color: white;
    height: 2.3rem;
    width: auto;
    margin-top: 6.5rem;
    font-size: 0.62rem;
 }


 /* Estilos para dispositivos móveis */
@media (max-width: 767px) {
   .container, .container-area {
       flex-direction: column;
       padding: 0.62rem;
   }

   .grid-div-area {
       grid-template-columns: 1fr;
   }

   .grid-imagem, .grid-imagem-lista {
       margin-bottom: 1.25rem;
   }
}
 
/* Estilos para tablets */
@media (min-width: 768px) and (max-width: 1023px) {
   .grid-div-area {
       grid-template-columns: repeat(2, 1fr);
   }
}

/* Estilos para desktops */
@media (min-width: 1024px) {
   .grid-div-area {
       grid-template-columns: repeat(3, 1fr);
   }
}

